.v-input--switch__track {
    width: 40px;
    height: 16px;
    top: calc(50% - 13px)!important;
    left: 0;
    right: 0;
    border-radius: 4px;
    background:none;
    border:1px solid #C4C4C4;
}
// off
.v-input--switch__thumb {
    // D = 20px
    box-shadow: none!important;
    transform: translateX(4px);
    border-radius: 2px;
    background: #e5ecee;
    height:12px;
    width:20px;
    top:calc(50% - 11px)!important;
    left:-2px;
    border: 1px solid #66C5E1;
}
//  on
.v-input--switch.v-input--is-dirty .v-input--selection-controls__ripple, .v-input--switch.v-input--is-dirty .v-input--switch__thumb {
    transform: translateX(22px);
    background: #66C5E1;
}
.v-input--switch .v-input--selection-controls__ripple {
    left: -12px;
    display:none;
}

.v-input--switch{
    &.small{
        .v-input--switch__track {
            height: 12px;
            width:24px;
        }
        .v-input--switch__thumb{
            height:8px;
            width:10px;
            left:-2px;

        }
        &.v-input--is-dirty .v-input--switch__thumb{
            transform: translateX(14px);
        }
    }
}