@import 'theme/button';
@import 'theme/sidebar';
@import 'theme/panel';
@import 'theme/divider';
@import 'theme/list';
@import 'theme/popup';
@import 'theme/forms';
@import 'theme/data_table';
@import 'theme/datepicker';
@import 'theme/stepper';
@import 'theme/switch';
@import 'theme/autocomplete';

.theme--light.v-application{
    background-color:black;
    font-size:12px!important;
}

//@TODO voor datum menu
//
.date_menu_container{
    .v-menu__content{
        box-shadow:none!important;
    }
}

.v-input__slot {
    align-items: stretch;
    min-height: 45px !important;
}
.mdi-pencil::before {
    content: "\F03EB";
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.v-input--selection-controls {
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.v-text-field {
    padding-top: 0px  !important;
    margin-top: 0px !important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
    margin: 0px !important;
}
.v-text-field__details {
    min-height: 5px !important;
}

th.text-center {
    font-size: 15px !important;
}
//#inspire{
//    background-color:blue;
//}


